<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create post:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=100) }}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text() }}
        </p>
        <p>{{ form.send() }}</p>
    </form>
</body>
</html>