<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Messages</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Add message</button>
    <input type="checkbox" name="match">Radiobox
</form>


<h3>Messages List:</h3>
{% for message in messages %}
<div><b>{{ message.text }}#</b>&nbsp;<i>{{ message.tag }}</i>&nbsp;{{ message.checker }} </div>
{% endfor %}

</body>
</html>