<html>
    <head>
        {% if title %}
        <title>{{ title }} - Мой сайт</title>
        {% else %}
        <title>Добро пожаловать на мой сайт</title>
        {% endif %}
    </head>
    <body>
        <a href="{{ url_for('main') }}">Main page</a>
        <h1>List of synchronized bases:</h1>
        {% for %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        {% endfor %}

        <a href="/create">Создать пост</a>
    </body>
</html>